// Import page-specific CSS files here.
@import "home";
@import "show";

.container-books {
  width: 800px;
  margin: 40px auto;
}

.page-top {
  display: flex;
  justify-content: space-between;
  align: middle;
  margin-bottom: 30px;
}

// .page-top h1{
//   margin-bottom: 40px;

// }

.add a {
  text-decoration: none;
  align-items: center;
  font-size: 25px;
  margin-bottom: 0;
}








