 <% if user_signed_in? %>

  <div class="welcome">
    <p >Welcome <%= current_user.email %></p>
  </div>

  <% else %>

  <div id="sign-in">
    <div class="welcome">
    <p>Welcome!</p>
    <p>Please <a href="" class="button">sign in</a> to enjoy the full experience of BookMyBook.</p>
    </div>
  </div>

  <% end %>
