<div class="navbar">
  <div>
    <%= image_tag "book-logo2.png", id: "logo" %>
 </div>
 <div>
    <%= image_tag "jack.jpg", class: "avatar" %>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <p>Welcome <%= current_user.email %></p>
<% else %>
  <p>Please sign in %></p>
<% end %>
