 <% if user_signed_in? %>

  <div class="welcome">
    <p >Welcome <%= current_user.email %></p>
    <div class="button">
    <%= link_to "See my dashboard", user_bookings_path(:user_id) %>
    </div>
  </div>

  <% else %>

  <div id="sign-in">
    <div class="welcome">
    <p>Welcome!</p>
    <p>Please <span class="button"><%= link_to "sign in", user_session_path %></span> to enjoy the full experience of BookMyBook.</p>
    </div>
  </div>

  <% end %>
