.button a {
  padding: 10px 20px;
  background-color: rgba(226, 76, 65, 0.9);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  &:hover{
    color: white;
    text-decoration: none;
    background-color: #423144;
    transition: 0.3s;
  }
}

.button-show {
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(226, 76, 65);
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 20px;
  border-radius: 10px;
  &:hover{
    color: white;
    text-decoration: none;
    background-color: #423144;
    transition: 0.3s;
  }
}

.button {
  padding: 10px 20px;
  background-color: rgb(226, 76, 65);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 1.2rem;
  &:hover{
    color: white;
    text-decoration: none;
    background-color: #423144;
    transition: 0.3s;
  }
}

.button-card {
  padding: 10px 20px;
  background-color: rgb(226, 76, 65);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 15px;
  &:hover{
    color: white;
    text-decoration: none;
    background-color: #423144;
    transition: 0.3s;
  }
}

#login a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #e24c41;
  border-radius: 10px;
  &:hover {
    border: 1px solid #423144;
    transition: 0.3s;
    color: #423144;
  }
}

#small-btn a {
  font-size: 20px;
  padding: 10px 20px;
  background-color: rgba(226, 76, 65, 0.9);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  &:hover{
    color: white;
    text-decoration: none;
    background-color: #423144;
    transition: 0.3s;
  }
}

.button-outline {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #e24c41;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Montserrat";
  margin-left: 1rem;
  &:hover {
    border: 1px solid #423144;
    transition: 0.3s;
    color: #423144;
    text-decoration: none;
  }
}

.button-tab {
  background-color: white;
  color: grey;
  border: none;
  font-family: "Montserrat";
  font-size: 15px;
  &:hover {
    color: lightgrey
  }
}

.button-white {
  padding: 10px 20px;
  background-color: #423144;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 1.2rem;
  &:hover{
    color: #423144;
    text-decoration: none;
    background-color: white;
    transition: 0.3s;
  }
}
