.navbar {
  justify-content: space-between;
  background: white;
  height: 100px;
  margin-top: 0px;
}

.navbar {
  flex-grow: 0;
}

#logo {
  width: 120px;
}

// .avatar {
//   width: 400px;
//   border-radius: 50%;
// }
