.navbar {
  justify-content: space-between;
  background: white;
  height: 100px;
  margin-top: 0px;
}

.navbar {
  flex-grow: 0;
}

#logo {
  width: 120px;
}

#title a {
  text-decoration: none;
  margin-left: -50px;
  font-family: "Cormorant Garamond";
  font-size: 70px;
  &:hover {
    color: #423144;
    transition: 0.3s;
  }
}

.hello {
  color: $red;
  padding-left: 10px;
}

